[Unit]
After=wayland-session@hyprland.desktop.target
Requires=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStart=blueman-applet

[Install]
WantedBy=default.target

