[Unit]
After=wayland-session@hyprland.desktop.target
Requires=wayland-session@hyprland.desktop.target


[Service]
Type=simple
ExecStart=hyprpaper

[Install]
WantedBy=default.target

