[Unit]
After=wayland-session@hyprland.desktop.target
Requires=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStart=wl-clip-persist --clipboard both

[Install]
WantedBy=default.target

