[Unit]
After=wayland-session@hyprland.desktop.target
Requires=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStart=wl-paste --type %I --watch cliphist store

[Install]
WantedBy=default.target

