[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Foxocube
	email = me@foxocube.xyz
[pull]
	rebase = false
[core]
	editor = ~/.config/git-editor
	autocrlf = false
[pager]
	branch = false
[include]
    path = ~/.gitconfig.local
